/* Typography & Colors*/

body.page-template-default h1.wp-block-post-title, body.page-template h1.wp-block-post-title, body.post-type-archive h1.wp-block-post-title {
   border-radius:100px;
   padding:10px 100px;
   width:fit-content!important;
   }

body.page-id-520 .wp-block-group .has-border-color {
  padding:50px;
  padding-bottom:50px!Important;
 border-radius:25px;
background-color:#fff!important;
}

body.page-id-520 main .wp-block-group.has-border-color {
  background:#f4f4f4!important;
}

/* Events */

.tribe-compatibility-container {
display:none!important;
}

@media only screen and (min-width: 1000px) {
.tribe-events-view {
margin-top:-100px;
}


.tribe-events-widget-events-list__header h2 {
   font-size:16pt!important;
  font-weight:bold!important;
}

body.home .tribe-events-view {
margin-top:0!important;
}
}

/* Home Buckets */

.green {
background:#115427;
color:white;
height:164px;
}

.green-column {
background:#115427;
color:white;
}

.gray {
background:#C0C0C0;
color:black;
height:164px;
}

.bucket {
	
}

.bucket p {
  /* margin: xxsmall 0*/
}

.tile {

}

.img{

}

/* about us page */

.board-members{
background:#115427;
color:white;
margin-top:40px;
margin-bottom:30px;
border-radius:100px;
width:600px;
font-size:15px
}

/* become a memeber page */

.prices{
background:#115427;
color:white;
border-radius:100px;
width:190px;
margin-left:2px !important;
margin-top:10px;
}

.prices-img{
height:315px !important;
}

.member-h{
background:#115427;
color:white !important;
border-radius:100px;
margin-top:20px !important;
margin-bottom:40px !important;
}

.donation-fee{
background:#115427;
color:white;
width:900px;
height:460px;
margin-left:150px;
margin-bottom:30px !important;
border-radius:30px;
}

.donation-img{
margin-right:10px;
margin-left:10px;
color:white !important;
}

.donation-p{
padding-left:20px;
padding-top:10px;
}

.donation-p2{
margin-top:-6px;
margin-left:10px;
padding-bottom:20px;
color:white;
}

.donation-button{
margin-top:-10px;
margin-left:10px;
width:140px;
}

.membership-prices{
height:300px;
}
/* Footer */

/* Marks CSS DONT MESS WITH*/


/* Contact Form 7 Styles */
.wpcf7 {
background-color: white;
border: 2px solid #125427;
border-radius: 20px;
}
.wpcf7-form {
margin-left:25px;
margin-right:25px;
margin-top:25px;
margin-bottom:25px;
}
.wpcf7-textarea{
width: 85%;
margin-top:5px;
margin-bottom:5px;
border: 2px solid #8B928C;
border-radius: 5px;
padding:5px;
}
.wpcf7 input:not(.wpcf7-submit) {
width: 50%;
margin-top: 5px;
margin-bottom: 5px;
border: 2px solid #8B928C;
border-radius: 5px;
padding:5px;
}
.wpcf7-submit{
background-color:#017E3F;
color: white;
border:2px solid #125427;
border-radius: 5px;
padding:5px;
}



/* Header Css Below */
.header-sticks {
box-shadow: 0 0 50px rgba(17, 84, 39, 0.9);
}
img.wp-image-946:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
}

.header-menu-button {
padding-left: 10px !important;
padding-right: 10px !important;
border: 1px solid rgba(0, 0, 0, 0);
border-radius: 5px !important;
}

.header-menu-button-drop {
padding-left: 10px !important;
padding-right: 10px !important;
border: 1px solid rgba(0, 0, 0, 0);
border-radius: 5px 5px 0px 0px !important;
}

.header-menu-button:not(ul):hover, .header-menu-button-drop:not(ul):hover {
background-color: white;
color: #115427;
border: 1px solid white !important;
box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.header-menu-button ul, .header-menu-button-drop ul{
border: 0px solid white !important;
padding-left: 0px !important;
padding-right: 0px !important;
}

.submenu-buttons:hover{
border: 0px solid white !important;
background-color: #e0e0e0 !important;
}

.wp-block-navigation__submenu-container{
border: 0px !important;
border-radius: 0px 5px 5px 5px !important;
background-color: white !important;
color: #115427 !important;
}

header ul li ul {
border: 0px !important;
border-radius: 0px 5px 5px 5px !important;
}

.open-on-hover-click a{
border: 0px solid !important;
border-radius: 5px 5px 5px 5px !important;
}

.header-menu-button-drop ul {
border: 4px solid white !important;
border-radius: 0px 5px 5px 5px !important;
}

li.has-superbfont-medium-font-size.wp-block-navigation-item.submenu-buttons.wp-block-navigation-link {
border: 0px solid !important;
border-radius: 5px !important;
}

a.wp-block-button__link.has-contrast-light-color.has-text-color.has-background.has-link-color.has-text-align-center.wp-element-button:hover {
box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1500px) {
.wp-container-core-group-is-layout-07abef02 > *:not(.alignleft):not(.alignright):not(.alignfull) {
    max-width: 100%;
    margin-left: 2vw !important;
    margin-right: 2vw !important;
}
}

@media only screen and (max-width: 1127px) {
.header-row {
max-width: 90% !important;
}
}

@media only screen and (max-width: 986px) {
.header-row {
max-width: 95% !important;
}
.header-group {
min-height: 130px !important;
height: 130px !important;
padding-top: 15px !important;
padding-bottom: 15px !important;
}
.header-logo-image img {
width: 99px !important;
height: 99px !important;
}

.contact-us-button-header{
padding-left: 1vw !important;
}
}

@media only screen and (max-width: 905px) {
.header-group {
padding-left: 15px !important;
padding-right: 15px !important;
}
.header-row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
html {
font-size: 15px !important;
}
}

@media only screen and (max-width: 855px) {
.header-group{
padding-left: 0px !important;
padding-right: 0px !important;
}
.header-row{
gap: 1vw !important;
}
}

@media only screen and (max-width: 810px) {
.contact-us-button-header a{
padding-left: 15px !important;
padding-right: 15px !important;
}
.wp-block-navigation__container li, .contact-us-button-header a{
font-size: 16px !important;
}
.header-group {
min-height: 104px !important;
height: 104px !important;
padding-top: 12px !important;
padding-bottom: 12px !important;
}
.header-logo-image img {
width: 79px !important;
height: 79px !important;
}
}

@media only screen and (max-width: 720px) {
.contact-us-button-header,
.wp-block-navigation__container {
    margin-left: auto !important;
    margin-right: 0 !important;
}
.header-logo-image img {
min-width: 79px !important;
min-height: 79px !important;
}
.wp-container-core-group-is-layout-4e3fa81d > *:not(.alignleft):not(.alignright):not(.alignfull) {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
}

@media only screen and (max-width: 600px) {
.wp-container-core-group-is-layout-4e3fa81d > *:not(.alignleft):not(.alignright):not(.alignfull) {
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.wp-block-navigation__container li, .contact-us-button-header a{
font-size: 30px !important;
}
.wp-block-navigation .wp-block-page-list, .wp-block-navigation__container, .wp-block-navigation__responsive-close, .wp-block-navigation__responsive-container, .wp-block-navigation__responsive-container-content, .wp-block-navigation__responsive-dialog {
gap: 0px;
}
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-container {
padding-top: 0px !important;
}
.wp-block-navigation__container li ul li a, .wp-block-navigation__container > li a, .contact-us-button-header{
padding: 1vh !important;
}
.contact-us-button-header {
    margin-left: auto !important;
    margin-right: auto !important;
}
.header-menu-button-drop > a {
    display: none !important;
}
.wp-block-navigation__container li ul li a:hover, .wp-block-navigation__container > li a:hover{
background-color: #e0e0e0 !important;
border: 0px !important;
border-radius: 5px;
}
}

/* Races List Page */
p.acf-view__race-day {
font-size:18pt!important;
margin-top:0!important;
padding-top:0!important;
}

/* Race Post Type */

p.acf-view__sponsors-label, p.acf-view__race-map-label, p.acf-view__results-url-field, p.acf-view__race-day, p.acf-view__top-3-males-label, p.acf-view__top-3-females-label, p.acf-view__top-sponsor-label, .race-map h1, .race-map h2 {
font-family:Poppins, sans-serif;
color:#115527;
}

p.acf-view__sponsors-label, p.acf-view__race-map-label, p.acf-view__race-day, p.acf-view__top-sponsor-label {
font-size:36pt;
} 


:root :where(p) .acf-view__race-day {
font-size:36pt;
}

.race-map h1 {
display:none!important;
}

.race-map h2 {
font-size:36pt!important;
}

.acf-view__results-url, a.acf-view__race-attachment {
text-align:center;
}


a.acf-view__results-url-field, a.acf-view__race-attachment {
text-decoration:none;
font-size:15pt;
font-weight:bold;
}

a.acf-view__race-attachment {
margin-left:20px;
}
a.acf-view__results-url-field:hover, a.acf-view__race-attachment:hover {
text-decoration:underline;
}

p.acf-view__sponsors-label {
font-size:24pt;
}
.race-map th {
text-decoration:underline;
font-weight:bold;
}

.page-template-wp-custom-template-past-races-2 .wp-block-post-excerpt__more-link {
background:#007E3F;
border-radius:10px;
text-align:center;
display:block;
padding:5px 10px;
width:50%;
color:white;
margin:auto;
}

page-template-wp-custom-template-past-races-2 .wp-block-post-excerpt__more-link:hover { 
text-decoration:underline;
background:yellow;
color:black;
}


.acf-view__classic-duo-teams-label,
.acf-view__total-racers-label,
.acf-view__expert-racers-label,
.acf-view__top-3-females-label,
.acf-view__classic-racers-label,.acf-view__total-racers-field,
.acf-view__expert-racers-field,
.acf-view__top-3-females-field,
.acf-view__classic-racers-field,
.acf-view__classic-duo-teams-field {
font-family:Poppins, sans-serif;
color:#115527;
font-weight:bold;
float:left;
line-height:.7em!important;
}

.acf-view__classic-duo-teams-label,
.acf-view__total-racers-label,
.acf-view__expert-racers-label,
.acf-view__top-3-females-label,
.acf-view__classic-racers-label {
clear:left;
margin-right:50px;
}


.acf-view__total-racers,
.acf-view__expert-racers,
.acf-view__top-3-females,
.acf-view__classic-racers,
.acf-view__classic-duo-teams {
clear:both;
}

p.acf-view__top-3-males-label {
clear:both;
font-size:36px;
color:#115527;
margin-top:3em;
}

.acf-view__results-url-field {
font-size:18pt;
font-weight:bold;
}

/* Racer Information page*/


/* Protect the watershed page*/


.protect-watershed{
background:#115427;
color:white;
border-radius:20px;
padding:20px;
}

.title-swoosh{
Background-image: linear-gradient(-4deg, #ffff 23%, transparent 30%);
height:554px;
margin-top:-557px;
}

.memberships{
background:linear-gradient(to top, #115427 20%, transparent);
color:white;
height:600px;
width:500px;
border-radius:15px;
font-size:30px;
}
.memberships-h{
background:linear-gradient(to bottom, #115427 65%, transparent);
color:white;
}

