/* Typography & Colors*/

body.page-template-default h1.wp-block-post-title, body.page-template h1.wp-block-post-title, body.post-type-archive h1.wp-block-post-title {
   border-radius:100px;
   padding:10px 100px;
   width:fit-content!important;
   }

body.page-id-520 .wp-block-group .has-border-color {
  padding:50px;
  padding-bottom:50px!Important;
 border-radius:25px;
background-color:#fff!important;
}

body.page-id-520 main .wp-block-group.has-border-color {
  background:#f4f4f4!important;
}

/* Events */
@media only screen and (min-width: 1000px) {
.tribe-events-view {
margin-top:-100px;
}
}

body.home .tribe-events-view {
margin-top:0!important;
}


/* Home Buckets */

.green {
background:#115427;
color:white;
height:164px;
}

.green-column {
background:#115427;
color:white;
}

.gray {
background:#C0C0C0;
color:black;
height:164px;
}

.bucket {
	
}

.bucket p {
  /* margin: xxsmall 0*/
}

.tile {

}

.img{

}

/* about us page */

.board-members{
background:#115427;
color:white;
margin-top:40px;
margin-bottom:30px;
border-radius:100px;
width:600px;
font-size:15px
}

/* become a memeber page */

.prices{
background:#115427;
color:white;
border-radius:100px;
width:190px;
margin-left:2px !important;
margin-top:10px;
}

.prices-img{
height:315px !important;
}

.member-h{
background:#115427;
color:white !important;
border-radius:100px;
margin-top:20px !important;
margin-bottom:40px !important;
}

.donation-fee{
background:#115427;
color:white;
width:900px;
height:460px;
margin-left:150px;
margin-bottom:30px !important;
border-radius:30px;
}

.donation-img{
margin-right:10px;
margin-left:10px;
color:white !important;
}

.donation-p{
padding-left:20px;
padding-top:10px;
}

.donation-p2{
margin-top:-6px;
margin-left:10px;
padding-bottom:20px;
color:white;
}

.donation-button{
margin-top:-10px;
margin-left:10px;
width:140px;
}

.membership-prices{
height:300px;
}

/* Header Css Below */

@media only screen and (min-width: 1120px) {

body.home .superbthemes-navigation-two-columns {
position:fixed!Important;
width:100%!important;
}

body.home .entry-content {
margin-top:150px!important;
}

}

.header-menu-button {
padding-left: 10px !important;
padding-right: 10px !important;
border: 0px solid rgba(0, 0, 0, 0);
border-radius: 5px !important;
}

.header-menu-button-drop {
padding-left: 10px !important;
padding-right: 10px !important;
border: 0px solid rgba(0, 0, 0, 0);
border-radius: 5px 5px 0px 0px !important;
}

.header-menu-button:hover, .header-menu-button-drop:hover {
background-color: white;
color: #115427;
border: 2px white !important;
}

.wp-block-navigation__submenu-container{
border: 0px !important;
border-radius: 0px 0px 5px 5px !important;
background-color: white !important;
color: #115427 !important;
}

/* Race Post Type */
p.acf-view__sponsors-label, p.acf-view__race-map-label, p.acf-view__results-url-field, p.acf-view__race-day, p.acf-view__top-3-males-label, p.acf-view__top-3-females-label, p.acf-view__top-sponsor-label, .race-map h1, .race-map h2 {
font-family:Poppins, sans-serif;
color:#115527;
}

p.acf-view__sponsors-label, p.acf-view__race-map-label, p.acf-view__race-day, p.acf-view__top-sponsor-label {
font-size:36pt;
} 


:root :where(p) .acf-view__race-day {
font-size:36pt;
}

.race-map h1 {
display:none!important;
}

.race-map h2 {
font-size:36pt!important;
}

.acf-view__results-url, a.acf-view__race-attachment {
text-align:center;
}


a.acf-view__results-url-field, a.acf-view__race-attachment {
text-decoration:none;
font-size:15pt;
font-weight:bold;
}

a.acf-view__race-attachment {
margin-left:20px;
}
a.acf-view__results-url-field:hover, a.acf-view__race-attachment:hover {
text-decoration:underline;
}

p.acf-view__sponsors-label {
font-size:24pt;
}
.race-map th {
text-decoration:underline;
font-weight:bold;
}

.page-template-wp-custom-template-past-races-2 .wp-block-post-excerpt__more-link {
background:#007E3F;
border-radius:10px;
text-align:center;
display:block;
padding:5px 10px;
width:50%;
color:white;
margin:auto;
}

page-template-wp-custom-template-past-races-2 .wp-block-post-excerpt__more-link:hover { 
text-decoration:underline;
background:yellow;
color:black;
}


.acf-view__classic-duo-teams-label,
.acf-view__total-racers-label,
.acf-view__expert-racers-label,
.acf-view__top-3-females-label,
.acf-view__classic-racers-label,.acf-view__total-racers-field,
.acf-view__expert-racers-field,
.acf-view__top-3-females-field,
.acf-view__classic-racers-field,
.acf-view__classic-duo-teams-field {
font-family:Poppins, sans-serif;
color:#115527;
font-weight:bold;
float:left;
line-height:.7em!important;
}

.acf-view__classic-duo-teams-label,
.acf-view__total-racers-label,
.acf-view__expert-racers-label,
.acf-view__top-3-females-label,
.acf-view__classic-racers-label {
clear:left;
margin-right:50px;
}


.acf-view__total-racers,
.acf-view__expert-racers,
.acf-view__top-3-females,
.acf-view__classic-racers,
.acf-view__classic-duo-teams {
clear:both;
}

p.acf-view__top-3-males-label {
clear:both;
font-size:36px;
color:#115527;
margin-top:3em;
}

.acf-view__results-url-field {
font-size:18pt;
font-weight:bold;
}

/* Racer Information page*/
